{% extends "base.html" %} {% block content %}
<div class="text-center">
  <h2 class="mb-4">Data Center</h2>
  <div class="card p-5">
    <div class="d-grid gap-3">
      <a href="/data/words" class="btn btn-primary btn-lg">Words</a>

      <a href="/data/reports" class="btn btn-outline-light btn-lg"
        >Quiz History</a
      >

      <hr />
      <hr class="border-secondary my-4" />

      <a href="/" class="btn btn-outline-light w-100">Back to Main Menu</a>
    </div>
  </div>
</div>
{% endblock %}
